button {
  all: unset;
}

.CheckboxIndicator {
  color: blue;

  &::before {
    content: url('./icons/checkbox.svg');

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
  }
}

.CheckboxIndicator:hover {
  color: blue;

  &::before {
    content: url('./icons/checkbox-hover.svg');

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
  }
}

.CheckboxRoot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url('./icons/checkbox-unchecked.svg');

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
  }
}

.CheckboxRoot:hover {
  &::before {
    content: url('./icons/checkbox-unchecked-hover.svg');

    position: absolute;
    top: -6px;
    left: -6px;

    width: 24px;
    height: 24px;
  }
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}
