/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 3px;

  background-color: var(--color-dark-900);

  /* outline: 2px solid var(--color-light-900); */
}

.CheckboxRoot:hover {
  background-color: var(--violet-3);
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: var(--violet-11);
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}
