/* reset */
button {
  all: unset;
}

.SelectPath {
  fill: var(--color-light-100);
}

.SelectContent {
  position: relative;

  overflow: hidden;

  width: var(--radix-select-trigger-width);

  border: 1px solid var(--color-dark-300);
  border-radius: 0 0 2px 2px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectTrigger {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  min-width: 210px;
  height: 36px;
  padding: 2px 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:active {
    border: 1px solid var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    border: 1px solid var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;

    .SelectSvg {
      transform: rotate(180deg);
    }
  }

  &[data-disabled] {
    cursor: default;
    border: 1px solid var(--color-dark-300);

    &[data-placeholder] {
      color: var(--color-dark-300);
    }

    .SelectPath {
      fill: var(--color-dark-300);
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.SelectTrigger[data-placeholder] {
  color: var(--color-light-100);
}

.SelectIcon {
  position: absolute;
  top: 8px;
  right: 12px;

  width: 16px;
  height: 16px;
}

.SelectViewport {
  top: 100px;
}

.SelectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  min-width: 160px;
  height: 36px;
  padding: 2px 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

.SelectNumbers {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  min-width: 48px;
  height: 36px;
  padding: 6px 2px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:active {
    border: 1px solid var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    border: 1px solid var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }

  .SelectIcon {
    position: absolute;
    top: 8px;
    right: 2px;
  }

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;

    .SelectIcon {
      transform: rotate(180deg);
    }
  }
}
