/* reset */
button {
  all: unset;
}

.SelectSvg {
  //
}

.SelectPath {
  fill: var(--color-light-100);
}

.SelectTrigger {
  position: relative;

  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  min-width: 210px;
  height: 36px;
  padding: 2px 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:active {
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-state='open'] {
    .SelectSvg {
      transform: rotate(180deg);
    }
  }
}

.SelectTrigger[data-placeholder] {
  color: var(--color-light-100);
}

.SelectIcon {
  position: absolute;
  top: 10px;
  right: 12px;

  width: 16px;
  height: 16px;
}

.SelectContent {
  position: relative;
  top: 36px;

  overflow: hidden;

  min-width: 210px;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}

.SelectViewport {
  top: 100px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  min-width: 160px;
  height: 36px;
  padding: 2px 12px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: red;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.SelectSeparator {
  height: 1px;
  margin: 5px;
  background-color: var(--violet-6);
}
