.signInForm {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 528px;
  margin: 36px auto 0;
  padding: 33px 36px 29px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.signInForm div {
  width: 100%;
}

.formTitle {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}

.already {
  color: var(--color-light-900);
  text-align: center;
}

.link {
  cursor: pointer;

  margin-top: -20px;

  font-size: 1rem;
  font-weight: 700;
  color: var(--color-accent-500);
  text-decoration-line: underline;
}

.checkboxWrapper {
  margin-left: -14px;
}

.linkForgotPassword {
  cursor: pointer;

  width: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-right: 12px;

  text-align: right;
}
