.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 24px;
  padding-top: 0;

  &:focus {
    border: 1px solid var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }
}

.rightArrow {
  transform: rotate(180deg);
}
