.text {
  margin-bottom: 23px;
  opacity: 0.5;
}

.title {
  margin-top: -3px;
  margin-bottom: 33px;
  text-align: center;
}

.errorMessage {
  position: absolute;
  bottom: -25px;
  left: 0;
}

.textField {
  position: relative;
}
