.button {
  all: unset;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

@mixin default-btn {
  cursor: pointer;

  position: relative;

  padding: 10px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--line-height-m);

  border: none;
  border-radius: 4px;
}

.primary,
.primary-with-icon {
  @include default-btn;

  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus-visible {
    outline: 3px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.primary-with-icon {
  padding-left: 60px;

  &::before {
    content: url('./icons/button-enter.svg');

    position: absolute;
    top: 12px;
    left: 26px;

    width: 24px;
    height: 24px;
  }

  &:disabled {
    &::before {
      content: url('./icons/button-enter-opacity.svg');

      position: absolute;
      top: 12px;
      left: 26px;

      width: 24px;
      height: 24px;
    }
  }
}

.secondary,
.secondary-with-icon {
  @include default-btn;

  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: 3px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.secondary-with-icon {
  padding-left: 60px;

  &::before {
    content: url('./icons/button-enter.svg');

    position: absolute;
    top: 12px;
    left: 26px;

    width: 24px;
    height: 24px;
  }

  &:disabled {
    &::before {
      content: url('./icons/button-enter-opacity.svg');

      position: absolute;
      top: 12px;
      left: 26px;

      width: 24px;
      height: 24px;
    }
  }
}

.tertiary {
  @include default-btn;

  box-sizing: border-box;
  padding: 8px 26px;

  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);

  background-color: transparent;
  border: 2px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus-visible {
    outline: 3px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-accent-900);
    background-color: transparent;
    border: 2px solid var(--color-accent-900);
  }
}

.link {
  @include default-btn;

  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration: none;
  background-color: transparent;

  &:visited {
    color: var(--color-accent-500);
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    border-radius: 30px;
    outline: 3px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
