.bodyItem {
  cursor: pointer;
  display: block;
  padding: 1px 8px;
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-900);
  }
}

.bodyItemActive {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}
