/* reset */
button {
  all: unset;
}

.Image {
  padding-right: 6px;
}

.InfoProfileName {
}

.InfoProfileMail {
}

.InfoProfile {
  display: flex;
  flex-direction: column;
}

.DropdownMenuImage {
  width: 36px;
  height: 36px;
  border-radius: 36px;

  &:hover {
    opacity: 0.8;
  }
}

.DropdownMenuContent {
  will-change: transform, opacity;

  //min-width: 220px;
  padding: 12px 12px 0;
  background-color: var(--color-dark-700);
  border-radius: 4px;
}

.DropdownMenuItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 40px;

  font-size: 12px;
  line-height: 16px;

  border-radius: 3px;
  outline: none;

  &:not(:last-of-type) {
    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: var(--color-dark-500);
    }
  }
}

.DropdownMenuLabel {
  display: flex;
  font-size: 14px;
}

.DropdownMenuArrow {
  position: absolute;
  top: 0;
  right: 12px;
  fill: var(--color-dark-700);
}

.IconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  &:hover {
    cursor: pointer;
  }
}

//.RightSlot {
//  margin-left: auto;
//  padding-left: 20px;
//  color: var(--mauve-11);
//}

//.DropdownMenuItemIndicator {
//  position: absolute;
//  left: 0;
//
//  display: inline-flex;
//  align-items: center;
//  justify-content: center;
//
//  width: 25px;
//}

//.DropdownMenuContent[data-side='top'],
//.DropdownMenuSubContent[data-side='top'] {
//  animation-name: slideDownAndFade;
//}
//
//.DropdownMenuContent[data-side='right'],
//.DropdownMenuSubContent[data-side='right'] {
//  animation-name: slideLeftAndFade;
//}
//
//.DropdownMenuContent[data-side='bottom'],
//.DropdownMenuSubContent[data-side='bottom'] {
//  animation-name: slideUpAndFade;
//}
//
//.DropdownMenuContent[data-side='left'],
//.DropdownMenuSubContent[data-side='left'] {
//  animation-name: slideRightAndFade;
//}

//[data-highlighted] > .RightSlot {
//  color: white;
//}
//
//[data-disabled] .RightSlot {
//  color: var(--mauve-8);
//}

//
//@keyframes slideUpAndFade {
//  from {
//    transform: translateY(2px);
//    opacity: 0;
//  }
//
//  to {
//    transform: translateY(0);
//    opacity: 1;
//  }
//}
//
//@keyframes slideRightAndFade {
//  from {
//    transform: translateX(-2px);
//    opacity: 0;
//  }
//
//  to {
//    transform: translateX(0);
//    opacity: 1;
//  }
//}
//
//@keyframes slideDownAndFade {
//  from {
//    transform: translateY(-2px);
//    opacity: 0;
//  }
//
//  to {
//    transform: translateY(0);
//    opacity: 1;
//  }
//}
//
//@keyframes slideLeftAndFade {
//  from {
//    transform: translateX(2px);
//    opacity: 0;
//  }
//
//  to {
//    transform: translateX(0);
//    opacity: 1;
//  }
//}

//.DropdownMenuSubTrigger[data-state='open'] {
//  color: var(--violet-11);
//  background-color: var(--violet-4);
//}
//
//.DropdownMenuItem[data-disabled],
//.DropdownMenuCheckboxItem[data-disabled],
//.DropdownMenuRadioItem[data-disabled],
//.DropdownMenuSubTrigger[data-disabled] {
//  pointer-events: none;
//  color: var(--mauve-8);
//}
//
//.DropdownMenuItem[data-highlighted],
//.DropdownMenuCheckboxItem[data-highlighted],
//.DropdownMenuRadioItem[data-highlighted],
//.DropdownMenuSubTrigger[data-highlighted] {
//  color: red;
//  background-color: red;
//}
