.text {
  margin-top: -8px;
  text-align: center;
  opacity: 0.5;
}

.title {
  margin-top: -3px;
  text-align: center;
}

.textName {
  padding-left: 10px;
}

.nameBtn {
  cursor: pointer;
  height: 16px;
  margin-left: 10px;
}

.img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.editBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.editBlockTrue {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.nameBlock {
  display: flex;
  align-items: center;
}

.imgBlock {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}
