div {
  all: unset;
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1006px;
  padding: 0 136px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;

  background-color: var(--color-dark-700);
}

.inner {
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.userName {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-light-100);
  border-bottom: 1px dashed var(--color-light-100);
}

.avaWrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}
