div {
  all: unset;
}

.default {
  display: flex;
  flex-direction: column;
  gap: 18px;

  box-sizing: border-box;
  width: 420px;

  //height: 540px;
  padding: 36px;

  background-color: var(--color-dark-700);
}
