.backBtn {
  display: flex;
  align-items: center;

  margin-top: 24px;
  margin-bottom: 33px;

  text-decoration: none;
}

.tableImage {
  aspect-ratio: 3/2;
  max-height: 80px;
  margin-right: 10px;
  object-fit: cover;
}

.pagination {
  margin-bottom: 24px;
}

.backToDeck {
  margin-left: 6px;
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: block;
  max-width: 1006px;
  margin: 0 auto;
}

.text {
  margin: 70px 0 30px;
  color: var(--color-dark-100);
  text-align: center;
}

.deckName {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.textField {
  margin-top: 24px;
  margin-bottom: 24px;
}

.tableDataContent {
  display: flex;
  gap: 10px;
  align-items: center;

  max-width: 300px;

  text-decoration: none;
}

.tableDataCell {
  display: flex;
}
