.backBtn {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 33px;
}

.backToDeck {
  margin-left: 6px;
  text-decoration: none;
}

.wrapper {
  display: block;
  max-width: 1006px;
  margin: 0 auto;
}

.deckName {
  text-decoration: none;
}
