@font-face {
  /* solution to replace bullets with asterisks taken from https://github.com/Mottie/input-password-bullet?tab=readme-ov-file */
  font-family: fontello;
  font-weight: normal;
  font-style: normal;
  src: url('@/fonts/fontello.eot?0000');
  src:
    url('@/fonts/fontello.eot?0000#iefix') format('embedded-opentype'),
    url('@/fonts/fontello.woff2?0000') format('woff2'),
    url('@/fonts/fontello.woff?0000') format('woff'),
    url('@/fonts/fontello.ttf?0000') format('truetype'),
    url('@/fonts/fontello.svg?0000#fontello') format('svg');
}

.signUpForm {
  display: flex;
  flex-direction: column;

  /* gap: 24px; */
  align-items: center;
  justify-content: start;

  width: 420px;
  height: 456px;
  padding: 33px 36px 29px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);

  & input[type='password'] {
    speak: none;

    font-family: fontello, sans-serif;
    font-size: 1rem;
    font-weight: 400;

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* Uncomment for 3D effect */

    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

    /* add spacing to better separate each image */
    letter-spacing: 2px;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.signUpForm div {
  width: 100%;
}

.formTitle {
  margin-bottom: 51px;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}

.tryLoginComment {
  margin-top: 20px;
  margin-bottom: 11px;

  font-size: 0.875rem;
  color: var(--color-light-900);
  text-align: center;
}

.link {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-accent-500);
  text-decoration-line: underline;
}

.emailComment {
  margin-top: 19px;
  margin-bottom: 65px;
  font-size: 0.875rem;
  color: var(--color-dark-100);
}
